.error-message {
  color: red;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0px 40px 10px 40px;
}
.cart-book-image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

  .cart-book-image {
    width: 100px;
    height: 150px; 
  }

.cart-title {
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  margin-left: -30px;
  padding-top: 10px;
  padding-left: 54px;
}

.descriptive-numbers {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 20px;
  margin-top: -170px;
  margin-bottom: 150px;
}

.cart-indiv-item-quantity {
  display: flex;
  flex-direction: row;
}

.item-qty {
  font-size: 10px;
  width:25px;
  height: 25px;
  margin: 10px;
}

.quantity-cart {
font-size: 20px;
padding-top: 10px;
margin: 2px;
}

.cart-indiv-item-price {
  padding: 4px;
  margin-top: 6px;
  font-size: 15px;
}




