.cart-and-order-box {
  display: flex;
  flex-direction: column;
}
.order-summary-details {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
  color: white;
  letter-spacing: 2.5px;
  background-color: var(--dark-blue);
}
.order-sum-title {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.order-summary-flex {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.checkout-button-box {
  margin-left: 50px;
}

.checkout-button {
  padding: 10px;
  cursor: pointer;
}
