.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  margin: 10px;
  padding: 15px;
  border-radius: 50%;
}

.book-image {
  width: 200px;
  height: 200px;
}

.category {
  font-size: 11px;
  padding-bottom: 10px;
  margin-top: -15px;
}
.add-to-cart-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.add-to-cart {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.product-details {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  line-height: 25px;
  margin-top: 10px;
  position: relative;
  z-index: 4;
}