* {
 margin: 0;
 padding: 0; 
}

:root {
  --title-color: rgb(242, 242, 242);
  --p-color: rgb(255, 255, 255, 0.75);
  --bright-orange: rgb(227, 136, 38);
  --dark-cyan: rgb(0, 105, 112);
  --very-dark-cyan: rgb(0, 66, 65);
}

.title {
  font-weight: 400;
  font-size: 30px;
  color: var(--title-color);
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 40px;
  text-align: left;
  font-stretch: ultra-condensed;
  }

.paragraph-text {
  font-weight: 700;
  font-size: 15px;
  color: var(--p-color);
  font-family: 'Big Shoulders Display', cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  }

  .button-1 {
    font-weight: 700;
    font-size: 15px;
    color: var(--bright-orange);
    font-family: 'Big Shoulders Display', cursive;
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    border: 1px var(--title-color);
    border-radius: 50px;
    }

  button-1:hover {
    color: var(--bright-orange);
    text-decoration-color: var(--p-color);
    border: 1px var(--p-color);
  }

  .button-2 {
    font-weight: 700;
    font-size: 15px;
    color: var(--dark-cyan);
    font-family: 'Big Shoulders Display', cursive;
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    border: 1px var(--title-color);
    border-radius: 50px;
    }

  button-2:hover {
    color: var(--dark-cyan);
    color: var(--dark-cyan);
    border: 1px var(--p-color);
    }

  .button-3 {
    font-weight: 700;
    font-size: 15px;
    color: var(--very-dark-cyan);
    font-family: 'Big Shoulders Display', cursive;
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    border: 1px var(--title-color);
    border-radius: 50px;
    }

  button-3:hover {
    color: var(--very-dark-cyan);
    color: var(--very-dark-cyan);
    border: 1px var(--p-color);
    }

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 40px;
  margin-left: 18px;
  margin-right: 18px;
}

#box-1 {
  background: var(--bright-orange);
  margin-top: 60px;
  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }

#box-2 {
  background: var(--dark-cyan);
}

#box-3 {
  background: var(--very-dark-cyan);
  margin-bottom: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
