* {
  margin: 0;
  padding: 0; 
  }

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
  --bright-orange: rgb(227, 136, 38);
  --dark-cyan: rgb(0, 105, 112);
  --very-dark-cyan: rgb(0, 66, 65);
  background-color: var(--very-light-grey);
  }

img {
  padding-left: 46px;
  padding-top: 48px;
  padding-bottom: 15px;
  opacity: .9;
  }

.title {
  font-size: 38px;
  color: var(--very-light-grey);
  font-family:'Big Shoulders Display', cursive;
  font-weight: 700;
  padding-top: 16px;
  padding-left: 46px;
  text-align: left;
  opacity: 1;
  }

.paragraph-text {
  line-height: 1.67;
  color: var(--transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .2px;
  font-stretch: semi-condensed;
  padding-top: 28px;
  padding-left: 46px;
  padding-right: 10px;
  padding-bottom: 19px;
  margin-right: 40px;
  text-align: left;
  opacity: .8;
  }

.button {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 6px;
  padding: 14px;
  letter-spacing: -.2px;
  padding-left: 29px;
  padding-right: 29px;
  text-align: center;
  border: 1px var(--very-light-grey);
  border-radius: 50px;
  transition: background-color 1s;
  }

  #button-1 {
    color: var(--bright-orange);
    }

    #button-1:hover {
      border: 2px solid var(--very-light-grey);
      background-color: var(--bright-orange);
      color: var(--very-light-grey);
      cursor: pointer;
      }

  #button-2 {
    color: var(--dark-cyan);
    }

    #button-2:hover {
      border: 2px solid var(--very-light-grey);
      background-color: var(--dark-cyan);
      color: var(--very-light-grey);
      cursor: pointer;
      }

  #button-3 {
    color: var(--very-dark-cyan);
    }

    #button-3:hover {
      border: 2px solid var(--very-light-grey);
      background-color: var(--very-dark-cyan);
      color: var(--very-light-grey);
      cursor: pointer;
      }

.flex-container {
  display: flex; 
  justify-content: center;
  margin-top: 25%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 25%;
  flex-direction: column;
  align-items: center;
  }

.box {
  height: 442px;
  }

  #box-1 {
    background: var(--bright-orange);
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
    }

  #box-2 {
    background: var(--dark-cyan);
    }

  #box-3 {
    background: var(--very-dark-cyan);
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    }

@media screen and (min-width: 700px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

  .button {
    margin-top: 10%;
    }
  .box {
    width: 260px;
    height: 600px;
    }

  #box-1 {
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    }

  #box-3 {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 7.5px;
    }
}

@media screen and (min-width: 1000px) {
  .flex-container {
    margin-top: 150px;
    }
  
  .paragraph-text {
    padding-right: 20px;
    }

  .button {
    margin-top: 80px;
    }

  .box {
    width: 320px;
    height: 520px;
    }
}
