* {
  margin: 0;
  padding: 0; 
}

:root {
  --dark-orange: rgba(214,46,2,1);
  --light-orange: rgb(221, 140, 85);
  --bright-white: rgba(255,255,255,1);
  --pink: rgb(241, 116, 189);
  --light-pink:	rgb(236, 157, 194);
  --dark-pink: rgba(252,69,163,1);
}

  