
.comment-container {
  display: grid;
  justify-content: right;
  margin-left: 180px;

  text-align: center;
  /* width: 130px;
  height: 130px;
  background: var(--light-pink);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  transform: rotate(-45deg); */
  }
.comment-section-header {
  font-size: 10px;
  color: black;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

.comment-body {
  font-size: 11px;
  color: black;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}
