.hex-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  padding-top: -180px;
}

.post-owner-picture{
  margin-bottom: -198px;
  margin-left: -130px;
  transform: rotate(180deg);
}

.user-name {
  font-size: 20px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  align-items: center;
  padding-bottom: 100px;
  margin-left: -40px;
  padding-right: 25px;
  transform: rotate(-120deg);
  text-align: center;
  white-space: pre-wrap;
}

.post-info {
  display: flex;
  padding-top: 170px;
  padding-bottom: 20px;
  padding-left: 55px;
  text-align: center;
  transform: rotate(120deg);
}

.post-date {
  font-size: 13px;
  font-weight: 600;
  padding-left: -30px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  padding-top: 105px;
  padding-bottom: 80px;
  text-align: center;
  white-space: wrap;
  list-style-type: none;
  transform: rotate(60deg);
}

.post-image {
  margin-left: -120px;
}

.likes {
  font-size: 15px;
  padding-top: 126px;
  text-align: center;
  margin-left: -140px;
  transform: rotate(-60deg);
}

.comment-section {
padding: 20px;
margin: 20px;
}

@media only screen and (min-width:400px) {
  .hex-container {
    width:400px;
  }
}