
.hex-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.user-name {
  font-size: 30px;
  align-items: center;
  padding-bottom: 10px;
  margin-left: -100px;
  padding-right: 90px;
  transform: rotate(240deg);
  text-align: center;
  white-space: pre-wrap;
}

/* post info and date */
.post-info {
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  margin-left: 50px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

.post-date {
  font-size: 10px;
  padding-left: 90px;
  text-align: center;
}

.triangle-4 {
  font-size: 40px;
  transform: rotate(300deg);
  text-align: center;
}

.triangle-5 {
  margin-left: -170px;
  padding-right: -50px;
  padding-bottom: 200px;
  transform: rotate(180deg);
}

.likes {
  padding-left: 10px;
  padding-top: 140px;
  text-align: center;
  margin-left: -120px;
  transform: rotate(-60deg);
}