.navbar-flex-container {
  display: flex;
  flex-direction: row;
  background-color: var(--light-pink);
}

.title-flex-container {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background-color: var(--light-orange);
}

.app-title {
  
  font-size: 32px;
  padding: 10px;
  margin: 30px;
  text-align: center;
}

.profile-btn {
  display: visible;
  width:100px;
  height:50px;
  text-align:center;
  font-size: 15px;
  background-color: var(--pink);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.newsfeed-btn {
  display: visible;
  width: 100px;
  height:50px;
  text-align:center;
  font-size: 15px;;
  background-color: var(--pink);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
  