.navbar-flex-container {
  display: flex;
  flex-direction: row;

}

.app-title {
  /* width: 130px;
  height: 130px;
  background: var(--light-pink);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  transform: rotate(180deg); */
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  font-size: 45px;
  fill-rule: nonzero;
  margin: 10px;
  text-align: center;
  background-color: var(--light-pink);
  border: solid 1px var(--pink);
}

.profile-btn {
display: visible;
border-radius: 20px;
background-color: var(--dark-orange);
padding: 10px;
}

.newsfeed-btn {
  display: visible;
  border-radius: 20px;
  background-color: var(--dark-pink);
  padding: 10px;
}