.navbar-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  background: var(--light-pink);
  border: 2px var(--bright-white);
  border-style: none none ridge;
}

.title-flex-container {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background-color: var(--light-orange);
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.app-title {
  font-size: 20px;
  padding: 10px;
  margin: 30px;
  text-align: center;
}

.button-navbar {
  margin-top: 38px;
  margin-right: 40px;
  width:90px;
  height:70px;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  border: 3px ridge var(--bright-white);
  border-radius: 50%;
  background-color: var(--light-pink);
}

@media only screen and (min-width:615px) {
  .title-flex-container {
    width: 300px;
    height: 150px;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .app-title {
    font-size: 25px;
    padding-top: 10px;
  }


}