
.post-container {
  display: grid;
  justify-content: center;
  margin-left: 125px;
  font-size: 10px;
  color: black;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  text-align: center;
} 
