
.user-container {
  display: grid;
  justify-content: center;
  font-size: 10px;
  color: black;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  text-align: center;
  /* width: 130px;
  height: 130px;
  border: 1px;
  border-color: blue;
  border-style: solid;
  background: var(--bright-white);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%); */
  
}
